<div class="ng-star-inserted">
    <!-- <div class="docs-viewer ng-star-inserted">   -->
    <div class="docs-viewer">
      <app-docs-breadcrumb></app-docs-breadcrumb>
  
      <div style="display: flex;flex-direction: column; width: 100%;">
        <form>
          <mat-form-field class="example-form-field">
            <mat-label>Выбор диапазона дат</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Начало">
              <input matEndDate formControlName="end" placeholder="Конец">
            </mat-date-range-input>
            <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
  
            @if (range.controls.start.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
            }
          </mat-form-field>
  
          <div style="display: flex;flex-direction: column; width: 200px; margin-bottom: 10px;">
            
  
          </div>           
  
          <div>
  
          </div>
          <div>
          </div>
  
        </form>
      </div>
      <!-- <div><p>filesUrl.f_url_download ->{{filesUrl.f_url_download}}</p></div>
      <div><p>itsDone ->{{itsDone}}</p></div>    
      <div><p>itsStartExport ->{{itsStartExport}}</p></div>     -->
      <div *ngIf="isLoading" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <!--  -->
      <div style="display: flex;flex-direction: row;width: 100%;">
        <div class="row" *ngIf="itsDone">
          <!-- Timeline Card -->
          <div class="col-lg-4 col-12">
            <div class="card card-user-timeline">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <i data-feather="list" class="user-timeline-title-icon"></i>
                  <h4 class="card-title">Файлы выгрузки</h4>
                  <p>
                  <a href="{{filesUrl.f_url_download}}">sku_sale_list.xlsx</a></p>
                </div>
              </div>
  
            </div>
          </div>
          <!--/ Timeline Card -->
        </div>
        <!--  -->
      </div>
  
  
    </div>
  </div>