
@use '@angular/material' as mat;
@include mat.core();
@include mat.strong-focus-indicators();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
  @include mat.strong-focus-indicators-theme($my-theme);
}

// html {
//   // Emit theme-dependent styles for common features used across multiple components.
//   @include mat.core-theme($my-theme);

//   // Emit styles for MatButton based on `$my-theme`. Because the configuration
//   // passed to `define-theme` omits typography, `button-theme` will not
//   // emit any typography styles.
//   @include mat.button-theme($my-theme);

//   // Include the theme mixins for other components you use here.
// }



// @use "@angular/material" as mat;
// // @use "@angular/material" as matx;
// @use '@angular/material-experimental' as matx;


// $m3-custom: (
//   color: (
//     primary: matx.$m3-magenta-palette,
//     tertiary: matx.$m3-red-palette
//   )
// );

// $light-theme: matx.define-theme($m3-custom);

// html, body {
//   height: 100%;
//   @include mat.button-theme($light-theme);
// }

// .accent-btn {
//   @include mat.button-color($light-theme, $color-variant: tertiary);
// }


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// $theme: mat.define-theme((
//   color: (
//     theme-type: dark,
//     primary: mat.$violet-palette,
//   ),
//   typography: (
//     brand-family: 'Comic Sans',
//     bold-weight: 900
//   ),
//   density: (
//     scale: -1
//   )
// ));


