<mat-sidenav-container class="sidenav-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <div>ppp</div>    
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item (click)="toggleSubMenu('lists')">
          <mat-icon>list</mat-icon>
          <span>Списки</span>
        </mat-list-item>
        <mat-list-item (click)="toggleSubMenu('names')">
          <mat-icon>label</mat-icon>
          <span>Наименования</span>
        </mat-list-item>
        <mat-list-item (click)="toggleSubMenu('dif')">
          <mat-icon>dashboard</mat-icon>
          <span>Dif</span>
        </mat-list-item>
        <mat-list-item (click)="toggleSubMenu('6.10')">
          <mat-icon>event</mat-icon>
          <span>6.10</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    
    <!-- Контент -->
    <mat-sidenav-content>
      <div *ngIf="selectedMenu">
        <mat-nav-list>
          <!-- <mat-list-item *ngFor="let subItem of subItems[selectedMenu]" (click)="selectSubItem(subItem)">
            {{ subItem }}
          </mat-list-item> -->
        </mat-nav-list>
      </div>
      <div *ngIf="selectedSubItem">
        <h2>{{ selectedSubItem }}</h2>
        <!-- Здесь будет ваш контент для выбранного подпункта -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  